html{box-sizing: border-box;}
body{padding: 0;
    margin: 0;
    width: 100vw;
    background: #FFFFFF;
    }
@font-face {
    font-family: "TTLakes-Bold";

    src: url("./fonts/TTLakes-Bold.ttf") format("truetype");

    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "TTLakes-Medium";
    src: url("./fonts/TTLakes-Medium.ttf") ;
    src: url("./fonts/TTLakes-Regular.woff");

    font-style: normal;
    font-weight: normal ;}

@font-face {
    font-family: "TTLakes-Regular";
    src: url("./fonts/TTLakes-Regular.ttf") ;
    src: url("./fonts/TTLakes-Regular.woff");

    font-style: normal;
    font-weight: normal ;
}

@media screen and (min-width: 320px) {


    *, *::before, *::after {
        box-sizing: inherit;
    }

    .header {
    }

    .header__container {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .header__burger {
        border: none;
        background-color: #FFF;
        width: 40px;
        height: 40px;
        margin-left: 16px;
    }
    .header__menu_button{
        width: 40px;
    height: 40px;
    display: inline;
    background-image: url(burger.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: #FFF;
    }
}
.header__devider_planshet{display: none;}
.header__devider1 {width: 2px;
    height: 32px;
    display: inline;
    background-image: url(divider.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: #FFF;
}

.header__logo{width: 98px;
    height: 52px;
    display: inline;
    background-image: url(Group.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: #FFF;}
.header__button_profile{display: none;}

    .header__button_repair {
        width: 40px;
        height: 40px;
        display: inline;
        background-image: url(repair.svg);
        background-repeat: no-repeat;
        border: none;
        background-color: #FFF;
    }
    .header__button_checkstatus{width: 40px;
        height: 40px;
        display: inline;
        background-image: url(checkstatus.svg);
        background-repeat: no-repeat;
        border: none;
        background-color: #FFF;}


    .header__call{
        display: none;
    }

    .header__chat {
        display: none;
    }

    .header__profile {
        display: none;
    }

    .header__devider-planshet {
        display: none;
    }


    .main {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
    }

    .main__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #F8F8F8;
        width: 100%;
    }

    .title {
        width: 100%;
    }

    .title__container {
        display: flex;
        width: 100%;
        justify-content: flex-start;


        margin-top: 24px;


        align-items: center;
    }

    .title__highlight {
        height: 40px;
    }

    .title__left{display: flex;
    flex-shrink: 0;}

    .title__text {
        font-family: TTLakes-Bold;
        font-style: normal;
        font-weight: normal;

        font-size: 28px;


        margin-left: 16px;
    }

    .title__desktop_repair {
        display: none;
    }

    .title__desktop_check {
        display: none;
    }

    .nav {
        display: flex;
        width: 100%;
    }

    .nav__container {
        display: flex;
        width: 100%;
        overflow-x: scroll;
    }

    .nav__container_size {
        width: 100%;

        margin-top: 24px;
    }

    .nav__button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-left: 0px;
        flex-shrink: 0;
        border: none;
        background-color: #F8F8F8;
        font-size: 16px;
        line-height: 24px;
        font-family: TTLakes-Medium;
        font-style: normal;
        font-weight: normal;
    }

    .nav__button:focus {
        background-color: #FFF;
        display: flex;
        flex-shrink: 0;
        outline: none;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 22px;
        padding-right: 22px;
        
        margin-right: 0;


    }

    .nav__button1 {
        order: 1;
        margin-left: 20px;
    }



    .nav__button2 {margin-left: 32px;
        order: -1;

    }
    .nav__button2:focus{margin-left: 8px;}

    .nav__button3 {margin-left: 20px;
        order: 0;

    }



    .nav__button4 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .nav__button5 {

    }

    .nav__button6 {
        margin-left: 20px;
    }

    .nav__button7 {
        margin-left: 20px;
    }


    .first-block {
    }

    .first-block__container {
        width: 100%;
    }

    .first-block__container_properties {
        margin-top: 24px;
    }

    .first-block__text {
        width: 100%;
        font-size: 14px;
        font-family: "TTLakes-Regular";
        font-style: normal;
        font-weight: normal;
        Letter-spacing: 0.2px;

    }

    .first-block__read-more {
        display: flex;
        flex-shrink: 0;
        margin-top: 20px;
        margin-left: 33px;
        width: 100px;
        height: 24px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }


    .first-block__icon {
        width: 8px;
        height: 10px;
        margin-right: 8px;
        margin-left: 6px;
        margin-top: -8px;
        border: none;
        outline: none;
        background-color: #F8F8F8;
    }

    button.first-block__iconRM {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }

    .first-block__read-more-text {
        display: flex;
        flex-shrink: 0;
        letter-spacing: -0.2px;
        width: 100px;
        max-height: 24px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-family: TTLakes-Medium;
        font-style: normal;
        font-weight: 600;
        margin-left: 16px;
        font-size: 16px;
    }


    .first-block__mobile{margin-left: 16px; margin-right: 16px;}
    .first-block__planshet {
        display: none;
    }

    .first-block__desktop {
        display: none;
    }

    .first-block__image {
        margin-top: 16px;
        width: 100%;
        border-radius: 6px;
    }
    .first-block__picture{border-radius: 6px;
    display: flex; width: 100%;}

    .title__check {
        display: none;
    }
    .title__repair {
        display: none;
    }
@media screen and (min-width: 768px) {
        body {
            padding: 0;
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .header {
            display: flex;
            width: 100%;
        }
        .header__devider_planshet{
            width: 2px;
            height: 32px;
            display: inline;
            background-image: url(divider.svg);
            background-repeat: no-repeat;
            border: none;
            background-color: #FFF;}

        .header__call {
            display: inline;
            margin-left: 231px;
        }
        .header__chat {
            display: inline;
        }
        .header__chat_button{width: 40px;
            height: 40px;
            display: inline;
            background-image: url(chat.png);
            background-repeat: no-repeat;
            border: none;
            background-color: #FFF;}
        .main {
            display: flex;
            width: 100%;
        }

        .main__container {
            display: flex;
            width: 100%;
        }

        .header__container {
            width: 100%;
        }

        .header__burger {
            margin-left: 24px;
        }

        .header__repair {
            margin-left: 10px;
            padding: 0;
        }

        .header__icBurger {
            margin-left: 24px;
        }

        .header__devider-planshet {
            display: inline-block;
            margin-right: 20px;
            margin-left: 20px;
        }
        .header__profile{display: inline;}
        .header__button_profile{width: 40px;
            height: 40px;
            display: inline;
            background-image: url(profile.png);
            background-repeat: no-repeat;
            border: none;
            background-color: #FFF;}
        .header_call{display: inline;}
        .header__call_button{
            width: 40px;
            height: 40px;
            display: inline;
            background-image: url(call.png);
            background-repeat: no-repeat;
            border: none;
            background-color: #FFF;}

        .header__devider {
            margin-left: 10px;
        }


        .nav__container {
            width: 100%;
            display: flex;
            overflow-x: scroll;
            justify-content: flex-start;
        }

        .nav__container {
            display: flex;
            width: 100%;
            overflow-x: scroll;
            align-items: center;


        }

        .nav__container_size {
            display: flex;
            width: 100%;
            flex-wrap: nowrap;


        }

        .nav__button {
            display: flex;
            flex-shrink: 0;
        }

        .nav__button2 {
            order: -1;
        }

        .nav__button3 {
            order: 0;
        }

        .nav__button1 {
            margin-left: 16px;
            order: 1;
        }

        .nav_button4 {
            margin-left: 28px;
            display: flex;
            flex-shrink: 0;
        }

        .break {
            flex-basis: 100%;
            height: 0px;
        }

        .title__container{max-height: 40px;}
        .title__left{display: flex; flex-shrink: 0;}
       .title__right{display: none;}

        .first-block {
            display: flex;
        }

        .first-block__container {
            display: flex;
            justify-content: space-between;
        }


        .first-block__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .first-block__planshet {
            display: block;
            font-family: "TTLakes-Regular";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            margin-top: 16px;
            margin-left: 16px;
            margin-right: 16px;
        }

        .first-block__desktop {
            display: none;
        }



        .first-block__read-more {
            display: flex;
            align-items: center;
            margin-top: 35px;
        }

        .first-block__image-container {
            display: flex;


            padding-top: 26px;
            padding-bottom: 26px;
        }

        .first-block__image {width: 100%;

            border-radius: 6px;
            margin-top: 0;
            margin-right: 25px;
            margin-bottom: 40px;

        }

        .first-block__picture {width: 100%;
            display: flex;
            border-radius: 6px;


        }


    }
    @media screen and (min-width: 1120px) {
        .header {
            display: none;
        }

        .main__container {
            width: 1120px;

        }

        .title__container {
            margin-top: 42px;
            font-size: 28px;
        }

        .nav {}
        .nav__container {
            display: flex;
            flex-wrap: wrap;
            width: 1063px;
            margin-left: 32px;
            margin-right: 25px;
            overflow-x: hidden;
        }



        .nav__button:focus {
            background-color: #FFF;
            display: flex;
            flex-shrink: 0;
            border: 2px solid #B8FFEC;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 21px;
            padding-right: 22px;
            margin-right: 19px;
            margin-left: 0;

        }
        .nav__button1 {display: flex;
            order: -1;
            margin-right: 0;
            margin-left: 22px;
            height: 40px;}

        .nav__button2 {
            order: 0;
            height: 40px;
            margin-left: 0;
            margin-right: 34px;
            padding-left: 0;
            padding-right: 0;
           }

        .nav__button3 {
            display: none;}
        .nav__button4 {
            margin-right: 27px;
            margin-left: 0;
            height: 40px;}

        .nav__button5 {display: flex;
            margin-right: 21px;
            margin-left: 0;
            height: 40px;}

        .nav__button6 {display: flex;
            flex-shrink: 0;

            height: 40px;
            padding-left: 0px;
            margin-left: 0;
            margin-right: 21px;
        }


        .nav__button7 {
            display: flex;
            margin-left: 21px;
            height: 40px;


        }


        .title{}
        .title__container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .title__left {
            display: flex;
            flex-grow: 0;
        }

        .title__right {
            display: flex;
            flex-grow: 0;

        }


        .title__repair {
            display: flex;
            align-items: center;
        }

        .title__repair-button {
            width: 40px;
            height: 40px;
            display: inline;
            background-image: url(repair.svg);
            background-repeat: no-repeat;
            border: none;
            background-color: #F8F8F8;
            margin-left: 10px;

        }


        .title__repair_text {
            display: inline-block;


            font-size: 18px;
            font-family: TTLakes-Medium;
            font-style: normal;
            font-weight: 600;
        }


        .title__check {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 32px;
        }

        .title__check-button {
            width: 40px;
            height: 40px;
            display: inline;
            background-image: url(checkstatus.svg);
            background-repeat: no-repeat;
            border: none;
            background-color: #F8F8F8;
            margin-left: 10px;


        }


        .title__check_text {
            display: inline-block;

            margin-left: 32px;
            font-size: 18px;
            font-family: TTLakes-Medium;
            font-style: normal;
            font-weight: 600;
        }


        .title__text {
            box-sizing: content-box;
            display: flex;
            flex-shrink: 0;
            flex-wrap: nowrap;
        }


        .first-block__conteiner {
            width: 100%;


        }

        .first-block {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .first-block__not-image {
            display: flex;
            flex-direction: column;
            width: 95%;

        }

        .first-block__text {
            width: 95%;


        }



        .first-block__mobile{margin-left: 32px; width: 100%;}
        .first-block__planshet {margin-left: 32px; width: 100%;
        }

        .first-block__desktop {
            display: inline;
        }

        .first-block__read-more {
            display: flex;
            align-items: center;
            margin-top: 17px;
        }


        .first-block__image {
            margin-right: 29px;
            margin-left: 36px;
            display: flex;
            margin-top: -33px;
        }

        .first-block__picture {

            border-radius: 6px;
            width: 531px;
            margin-top: 24px;
            margin-bottom: 26px;
        }
    }






































