html{box-sizing: border-box;}
body{padding: 0;
    margin: 0 auto;
    width: 100vw;
    background: #FFFFFF;
    }
@font-face {
    font-family: "TTLakes-Bold";

    src: url("./fonts/TTLakes-Bold.ttf") format("truetype");

    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "TTLakes-Medium";
    src: url("./fonts/TTLakes-Medium.ttf") ;
    src: url("./fonts/TTLakes-Regular.woff");
    font-style: normal;
    font-weight: normal ;}

@font-face {
    font-family: "TTLakes-Regular";
    src: url("./fonts/TTLakes-Regular.ttf") ;
    src: url("./fonts/TTLakes-Regular.woff");
    font-style: normal;
    font-weight: normal ;
}
.nav__item:hover {margin-top: 0;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
background-color: #FFFFFF;
padding-right: 8px;
padding-left: 16px;
padding-top: 8px;
padding-bottom: 8px;}
a:hover{cursor: pointer;}
button:hover{cursor: pointer;}
label{display: flex;
align-items: center;
    font-family: "TTLakes-Medium", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;}
label:hover{cursor: pointer;}
a:link, a:visited{text-decoration: none;
color: black;}
a:hover{text-decoration: none;
        color: black;}




@media screen and (min-width: 320px) {
    *, *::before, *::after {
        box-sizing: inherit;
    }
    body {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;}
    .header {display: flex;
        width: 100%;
    }
    .header__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 88px;
        margin: 0 auto;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .header__part{display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header__logo{margin-right: 16px;}
    .header__part{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }
    .header__btn{display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-right: 16px;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        border-radius: 50%;
        border-color: transparent;
        background-color:#FF3E79;
    }
    .header__btn:last-child{margin-right: 0;}
    .header__tablet{display: none;}
}
.main {}
.main__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #F8F8F8;
        margin: 0 auto;
    }
.title {
        width: 100%;
    }
.title__container {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        margin-top: 24px;
        align-items: center;

    }
.title__block:nth-child(2){display: none;}
.title__text {display: inline-block;
        font-family: "TTLakes-Bold", serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        margin-left: 16px;
    position: relative;}
.title__text::before{
        content: "";
        background-image: url("highlight_title.svg");
        background-repeat: no-repeat;
        width: 4px;
        height: 40px;
        position: absolute;
        left: -16px;
        }
.nav {
        display: flex;
        width: 100%;
    }
.nav__container {
        display: flex;
        width: 100%;
        overflow-x: scroll;
        padding-left: 0;
        margin-left: 16px;
    }
.nav__container::-webkit-scrollbar{width: 0;}


.nav__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 8px 8px 8px 16px;
        border: 2px solid transparent;
        margin-right: 0;
        flex-shrink: 0;
        background-color: #F8F8F8;
        font-size: 16px;
        line-height: 24px;
        font-family: "TTLakes-Medium", serif;
        font-style: normal;
        font-weight: normal;

    }
.description {}
.description__container {
        width: 100%;
    }


.description__text{
        width: 100%;
        font-size: 14px;
        font-family: "TTLakes-Regular";
        font-style: normal;
        font-weight: normal;
        Letter-spacing: 0.2px;

    }


.description__button::before
{content:"";
    background-image: url("read-more-icon.png");
    width: 8px;
    height: 10px;
    position: absolute;
    left: -16px;

}


    .description__text_mobile{margin-left: 16px; margin-right: 16px;}
    .description__text_tablet {
        display: none;
    }

    .description__text_desktop {
        display: none;
    }

    .description__image {
        margin-top: 16px;
        width: 100%;
        display: flex;
        border-radius: 6px;
    }
    .description__picture
    {border-radius: 6px;
        width: 100%;
        max-width: 530px;
    margin: auto;}

    .title__check {
        display: none;
    }
    .title__repair {
        display: none;
    }
@media screen and (min-width: 768px) {
        body {
            padding: 0;
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .header {
            display: flex;
        }
        .header__container {
            display: flex;
            max-width: 1120px;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            padding: 24px;
        }
        .header__devider--tablet{
            width: 2px;
            height: 32px;
            display: inline;
            background-image: url(divider.svg);
            background-repeat: no-repeat;
            border: none;
            background-color: #FFF;}
        .header__devider{margin-right: 20px;}

        .header__tablet{display: inline-flex;}
        .header__btn{margin-right: 20px;}

        .header__devider--tablet{margin-right: 20px;}
    .main {
            display: flex;
            width: 100%;
        }
    .main__container {
            display: flex;
            width: 100%;

        }
    .header__container {
            width: 100%;
        }
    .nav__container {
            width: 100%;
            display: flex;
            overflow-x: scroll;
            justify-content: flex-start;
            align-items: center;
        margin-top: 17px;
        }

        .nav__container::-webkit-scrollbar{background: transparent; }

    .nav__button:nth-child(3){display: none;}
    .nav__item{border: 2px solid transparent;}
    .title{}
        .title__container{max-height: 40px;}
        .title__block{display: flex; flex-shrink: 0;}
        .title__block:nth-child(2){display: none;}
    .description {}
    .description__container {
            display: flex;
            justify-content: space-between;
        }
    .description__text {
            display: flex;
            flex-direction: column;
            padding:

        }
    .description__tablet{
            display: inline-block;
            font-family: "TTLakes-Regular";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;


        }
    .description__text_desktop {
            display: none;}
    .description__button{
        display: flex;
        align-items: center;
        margin-top: 17px;
        border: none;
        background-color: #F8F8F8;
        position: relative;
        margin-right: 16px;
    }
    .description__button::before
    {content:"";
        background-image: url("read-more-icon.png");
        width: 8px;
        height: 10px;
        position: absolute;
    }
    .description__image {display: flex;
        width: 100%;
            border-radius: 6px;
            margin-top: 0;
            margin-right: 25px;
            margin-bottom: 40px;
        }
    .description__picture {max-width: 530px;
            margin: auto;
            border-radius: 6px;
        }
    }
    @media screen and (min-width: 1120px) {
        .header {
            display: none;
        }
        .header__btn{margin-left: 8px;
        }
        .title__label{margin-right: 32px;}

        .main__container {
            width: 1120px;
            margin: 0 auto;
        }
        .title__container {
            margin-top: 42px;
            font-size: 28px;
        }
        .nav {}
        .nav__container {
            display: flex;
            flex-wrap: wrap;
            width: 1063px;
            margin-left: 32px;
            margin-right: 25px;
            overflow-x: hidden;
            padding-inline-start: 0;
        }
        .nav__item{margin-bottom: 22px;
        text-underline: none;}
        .nav__item:nth-child(3){display: none;}
        .title{}
        .title__container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .title__block {
            display: flex;
            flex-grow: 0;
        }
        .title__block:nth-child(2){display: flex;}
        .title__text {
            box-sizing: content-box;
            display: flex;
            flex-shrink: 0;
            flex-wrap: nowrap;
        }

        .description {}
        .description__conteiner {display: flex;
            width: 100%;
        }

        .description__text {display: inline-block;
            width: 95%;
        }
        .description__text_mobile{width: 100%;}
        .description__text_tablet {width: 100%;
        }
        .description__text_desktop {
            display: inline;
        }

        .description__button{
            display: flex;
            align-items: center;
            margin-top: 17px;
            border: none;
            background-color: #F8F8F8;
            position: relative;
            margin-left: 21px;
            flex-shrink: 0;
        }
        .description__button::before
        {content:"";
        background-image: url("read-more-icon.png");
        width: 8px;
            height: 10px;
            position: absolute;
            left: -16px;

        }
        .description__image {
            margin-right: 29px;
            margin-left: 36px;
            display: flex;
            margin-top: -33px;
        }
        .description__picture{
            border-radius: 6px;
            width: 531px;
            margin-top: 24px;
            margin-bottom: 26px;
        }
    }






































