html{box-sizing: border-box;}
body{padding: 0;
    margin: 0 auto;
    width: 100vw;
    background: #FFFFFF;
    }
@font-face {
    font-family: "TTLakes-Bold";

    src: url("./fonts/TTLakes-Bold.ttf") format("truetype");

    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "TTLakes-Medium";
    src: url("./fonts/TTLakes-Medium.ttf") ;
    src: url("./fonts/TTLakes-Regular.woff");

    font-style: normal;
    font-weight: normal ;}

@font-face {
    font-family: "TTLakes-Regular";
    src: url("./fonts/TTLakes-Regular.ttf") ;
    src: url("./fonts/TTLakes-Regular.woff");

    font-style: normal;
    font-weight: normal ;
}


.nav button:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
background-color: #FFFFFF;
}
button:hover{cursor: pointer;}
label{display: flex;
align-items: center;}
label:hover{cursor: pointer;}

@media screen and (min-width: 320px) {


    *, *::before, *::after {
        box-sizing: inherit;
    }

    .header {
    }

    .header__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        align-items: center;
    }

    .header__part--left{display: inline-flex;

        flex-direction: row;
        justify-content: flex-start;
        margin-left: 24px;}

    .header__part--right {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        margin-right: 24px;
    }

    .header__burger {

    }
    .header__menu_button{
        margin: 24px 20px 24px 0;
        width: 40px;
    height: 40px;
    display: inline;
    background-image: url(burger.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: #FFF;
    }
}
.header__devider_planshet{display: none;}
.header__devider1 {width: 2px;
    height: 32px;

    display: inline;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: 28px;
    background-image: url(divider.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: #FFF;
}

.header__logo{width: 98px;
    height: 52px;
    display: inline;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-right: 17px;
    background-image: url(Group.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: #FFF;}
.header__button_profile{display: none;}

    .header__button--repair {
        width: 40px;
        height: 40px;
        display: inline;
        background-image: url(repair.svg);
        background-repeat: no-repeat;
        border: none;
        background-color: #FFF;
        margin-right: 16px;

    }
    .header__button--checkstatus{width: 40px;
        height: 40px;
        display: inline;
        background-image: url(checkstatus.svg);
        background-repeat: no-repeat;
        border: none;
        background-color: #FFF;
        margin-right: 16px;
        }

    .header__call--button{
        display: none;
    }
    .header__chat--button {
        display: none;
    }

    .header__profile--button {
        display: none;
    }

    .header__devider-planshet {
        display: none;
    }


    .main {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
    }

    .main__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #F8F8F8;
        width: 100%;
        margin: 0 auto;
    }

    .title {
        width: 100%;
    }

    .title__container {
        display: flex;
        width: 100%;
        justify-content: flex-start;


        margin-top: 24px;


        align-items: center;
    }

    .title__highlight {
        height: 40px;
    }

    .title__left{display: flex;
    flex-shrink: 0;}

    .title__text {
        font-family: "TTLakes-Bold", serif;
        font-style: normal;
        font-weight: normal;

        font-size: 28px;


        margin-left: 16px;
    }

    .title__desktop_repair {
        display: none;
    }

    .title__desktop_check {
        display: none;
    }

    .nav {
        display: flex;
        width: 100%;
    }

    .nav__container {
        display: flex;
        width: 100%;
        overflow-x: scroll;
    }

    .nav__container_size {
        width: 100%;
        margin-left: 16px;
        margin-top: 24px;
    }

    .nav__button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        margin-right: 20px;
        flex-shrink: 0;
        border: none;
        background-color: #F8F8F8;
        font-size: 16px;
        line-height: 24px;
        font-family: "TTLakes-Medium", serif;
        font-style: normal;
        font-weight: normal;
    }








    .first-block {
    }

    .first-block__container {
        width: 100%;
    }

    .first-block__container_properties {
        margin-top: 24px;
    }

    .first-block__text {
        width: 100%;
        font-size: 14px;
        font-family: "TTLakes-Regular";
        font-style: normal;
        font-weight: normal;
        Letter-spacing: 0.2px;

    }

    .first-block__read-more {
        display: flex;
        flex-shrink: 0;
        margin-top: 20px;
        margin-left: 33px;
        width: 100px;
        height: 24px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }


.first-block__button--readmore{
    display: flex;
    align-items: center;
    margin-top: 17px;
    border: none;
    background-color: #F8F8F8;
    position: relative;
    margin-left: 0;
    flex-shrink: 0;


}
.first-block__button--readmore::before
{content:"";
    background-image: url("read-more-icon.png");
    width: 8px;
    height: 10px;
    position: absolute;
    left: -16px;

}


    .first-block__mobile{margin-left: 16px; margin-right: 16px;}
    .first-block__planshet {
        display: none;
    }

    .first-block__desktop {
        display: none;
    }

    .first-block__image {
        margin-top: 16px;
        width: 100%;
        border-radius: 6px;
    }
    .first-block__picture{border-radius: 6px;
    display: flex; width: 100%;}

    .title__check {
        display: none;
    }
    .title__repair {
        display: none;
    }
@media screen and (min-width: 768px) {
        body {
            padding: 0;
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .header {
            display: flex;
        }
        .header__container{display: flex;
            max-width: 1120px;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;}
        .header__devider--planshet{
            width: 2px;
            height: 32px;
            display: inline;
            background-image: url(divider.svg);
            background-repeat: no-repeat;
            border: none;
            background-color: #FFF;}

        .header__call--button {
            display: inline;
            margin-right: 16px;

        }
        .header__chat--button {
            display: inline;
            margin-right: 16px;
        }
        .header__chat--button{width: 40px;
            height: 40px;
            display: inline;
            background-image: url(chat.png);
            background-repeat: no-repeat;
            border: none;
            background-color: #FFF;}
        .header__profile--button{display: inline;
        margin-right: 20px;}
        .header__devider--planshet{display: inline;
        margin-right: 20px;}

    .header__button--repair{display: inline;
    margin-right: 16px;}
    .header__button--checkstatus{display: inline;
        margin-right: 0;}







    .main {
            display: flex;
            width: 100%;
        }

        .main__container {
            display: flex;
            width: 100%;
            margin: 0 auto;

        }

        .header__container {
            width: 100%;
        }

        .header__burger {
            margin-left: 24px;
        }

        .header__repair {
            margin-left: 10px;
            padding: 0;
        }

        .header__icBurger {
            margin-left: 24px;
        }

        .header__devider--planshet {
            display: inline-block;

        }

        .header__profile--button{width: 40px;
            height: 40px;
            display: inline;
            background-image: url(profile.png);
            background-repeat: no-repeat;
            border: none;
            background-color: #FFF;}
        .header_call{display: inline;}
        .header__call--button{
            width: 40px;
            height: 40px;
            display: inline;
            background-image: url(call.png);
            background-repeat: no-repeat;
            border: none;
            background-color: #FFF;}

        .header__devider {
            margin-left: 10px;
        }


        .nav__container {
            width: 100%;
            display: flex;
            overflow-x: scroll;
            justify-content: flex-start;
        }

        .nav__container {
            display: flex;
            width: 100%;
            overflow-x: scroll;
            align-items: center;


        }

        .nav__container_size {
            display: flex;
            width: 100%;
            flex-wrap: nowrap;


        }



        .title__container{max-height: 40px;}
        .title__left{display: flex; flex-shrink: 0;}
       .title__right{display: none;}

        .first-block {
            display: flex;
        }

        .first-block__container {
            display: flex;
            justify-content: space-between;
        }


        .first-block__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .first-block__planshet {
            display: block;
            font-family: "TTLakes-Regular";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            margin-top: 16px;
            margin-left: 16px;
            margin-right: 16px;
        }

        .first-block__desktop {
            display: none;
        }



    .first-block__button--readmore{
        display: flex;
        align-items: center;
        margin-top: 17px;
        border: none;
        background-color: #F8F8F8;
        position: relative;
        margin-right: 16px;

    }
    .first-block__button--readmore::before
    {content:"";
        background-image: url("read-more-icon.png");
        width: 8px;
        height: 10px;
        position: absolute;
    }

        .first-block__image-container {
            display: flex;


            padding-top: 26px;
            padding-bottom: 26px;
        }

        .first-block__image {width: 100%;

            border-radius: 6px;
            margin-top: 0;
            margin-right: 25px;
            margin-bottom: 40px;

        }

        .first-block__picture {width: 100%;
            display: flex;
            border-radius: 6px;


        }


    }
    @media screen and (min-width: 1120px) {
        .header {
            display: none;
        }

        .main__container {
            width: 1120px;
            margin: 0 auto;

        }

        .title__container {
            margin-top: 42px;
            font-size: 28px;
        }

        .nav {}
        .nav__container {
            display: flex;
            flex-wrap: wrap;
            width: 1063px;
            margin-left: 32px;
            margin-right: 25px;
            overflow-x: hidden;
        }
        .nav__button{margin-bottom: 22px;}






        .title{}
        .title__container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .title__left {
            display: flex;
            flex-grow: 0;
        }

        .title__right {
            display: flex;
            flex-grow: 0;

        }


        .title__repair {
            display: flex;
            align-items: start;
            font-size: 18px;
            font-family: TTLakes-Medium;
            font-style: normal;
            font-weight: 600;
        }

        .title__repair-button {
            width: 40px;
            height: 40px;
            display: inline;
            background-image: url(repair.svg);
            background-repeat: no-repeat;
            border: none;
            background-color: #F8F8F8;
            margin-right: 32px;
            margin-left: 10px;

        }





        .title__check {
            display: flex;
            align-items: start;
            font-size: 18px;
            font-family: TTLakes-Medium;
            font-style: normal;
            font-weight: 600;
        }

        .title__check-button {
            width: 40px;
            height: 40px;
            display: inline;
            background-image: url(checkstatus.svg);
            background-repeat: no-repeat;
            border: none;
            background-color: #F8F8F8;
            margin-left: 10px;
            margin-right: 32px;


        }


        .title__check_text {
            display: inline-block;

            margin-left: 32px;
            font-size: 18px;
            font-family: TTLakes-Medium;
            font-style: normal;
            font-weight: 600;
        }


        .title__text {
            box-sizing: content-box;
            display: flex;
            flex-shrink: 0;
            flex-wrap: nowrap;
        }


        .first-block__conteiner {
            width: 100%;


        }

        .first-block {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .first-block__not-image {
            display: flex;
            flex-direction: column;
            width: 95%;

        }

        .first-block__text {
            width: 95%;


        }



        .first-block__mobile{margin-left: 32px; width: 100%;}
        .first-block__planshet {margin-left: 32px; width: 100%;
        }

        .first-block__desktop {
            display: inline;
        }

        .first-block__button--readmore{
            display: flex;
            align-items: center;
            margin-top: 17px;
            border: none;
            background-color: #F8F8F8;
            position: relative;
            margin-left: 21px;
            flex-shrink: 0;


        }
        .first-block__button--readmore::before
        {content:"";
        background-image: url("read-more-icon.png");
        width: 8px;
            height: 10px;
            position: absolute;
            left: -16px;

        }


        .first-block__image {
            margin-right: 29px;
            margin-left: 36px;
            display: flex;
            margin-top: -33px;
        }

        .first-block__picture {

            border-radius: 6px;
            width: 531px;
            margin-top: 24px;
            margin-bottom: 26px;
        }
    }






































